/android/native/CMakeFiles
android/.DS_Store
android/native/.DS_Store
/android/native/CMakeFiles
android/native/fastbot.log
/android/.gradle
android/monkeyq copy.jar
/android/native/CMakeFiles
/android/native/CMakeFiles
/android/logs/my-fastbot-logs
/android/native/CMakeFiles
/android/native/CMakeFiles/fastbot_native.dir/desc
/android/native/CMakeFiles/fastbot_native.dir
/android/logs
